<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Messenger_Bot_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Messenger_Bot_Manager.Properties.Settings>
            <setting name="deviceId" serializeAs="String">
                <value />
            </setting>
            <setting name="msgbotPath" serializeAs="String">
                <value />
            </setting>
            <setting name="chatbotPath" serializeAs="String">
                <value />
            </setting>
            <setting name="programPath" serializeAs="String">
                <value />
            </setting>
            <setting name="defaultCode" serializeAs="String">
                <value>/**
 * (string) room
 * (string) sender
 * (boolean) isGroupChat
 * (void) replier.reply(message)
 * (boolean) replier.reply(room, message, hideErrorToast = false) // 전송 성공시 true, 실패시 false 반환
 * (string) imageDB.getProfileBase64()
 * (string) packageName
 */
function response(room, msg, sender, isGroupChat, replier, imageDB, packageName) {
    
}</value>
            </setting>
        </Messenger_Bot_Manager.Properties.Settings>
    </userSettings>
</configuration>